{% load static %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Admin Dashboard -Digital Employee Report </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="romegamart " name="description" />
    <meta content="Romegamart" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{%static 'admin-assets/images/favicon.ico'%}">

    <!-- Bootstrap Css -->
    <link href="{%static 'admin-assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{%static 'admin-assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{%static 'admin-assets/css/app.min.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tiny.cloud/1/qy4jjp4t0ifii4x10zr97kb5jh5g0zfl3cdh3usg5587izip/tinymce/7/tinymce.min.js"
        referrerpolicy="origin"></script>
</head>

<body data-sidebar="dark" data-layout-mode="light">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

    <!-- Begin page -->

    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">

                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="/admin-dashboard" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{%static 'images/255dmYMPtjS23fvgqcrfDDjvhXzI45RRu71Elpai.jpg'%}" alt=""
                                    height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="{%static 'images/255dmYMPtjS23fvgqcrfDDjvhXzI45RRu71Elpai.jpg'%}" alt=""
                                    height="17">
                            </span>
                        </a>

                        <a href="/admin-dashboard" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{%static 'images/255dmYMPtjS23fvgqcrfDDjvhXzI45RRu71Elpai.jpg'%}" alt=""
                                    height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="{%static 'images/255dmYMPtjS23fvgqcrfDDjvhXzI45RRu71Elpai.jpg'%}" alt=""
                                    height="60">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <!-- App Search-->
                    <form class="app-search d-none d-lg-block" method="post" action="/admin-search/">
                        {% csrf_token %}
                        <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Search..." id="searchInput" name="name"
                                value="{{ search_query }}">
                            <span class="bx bx-search-alt"></span>
                        </div>
                    </form>

                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block d-lg-none ms-2">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="mdi mdi-magnify"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-search-dropdown">

                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ..."
                                            aria-label="Recipient's username">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            data-bs-toggle="fullscreen">
                            <i class="bx bx-fullscreen"></i>
                        </button>
                    </div>



                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle sheader-profile-user"
                                src="https://romegamart.com/static/images/255dmYMPtjS23fvgqcrfDDjvhXzI45RRu71Elpai.jpg"
                                style="height:30px" >
                            <span class="d-none d-xl-inline-block ms-1"
                                key="t-henry">Admin</span> 
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item text-danger" href="/admin-logout"><i
                                    class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                                    key="t-logout">Logout</span></a>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                            <i class="bx bx-cog bx-spin"></i>
                        </button>
                    </div>

                </div>
            </div>
        </header>


        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title" key="t-menu">Menu</li>
                        <li> <a href="/admin-dashboard"> <i class="bx bx-home"></i> Dashboard </a></li>
                        <li> <a href="/admin-telesales-employee"> <i class="fa fa-phone-square" aria-hidden="true"></i>Telesales Employee </a></li>
                        <li> <a href="/admin-digital-employee"><i class="fa fa-laptop" aria-hidden="true"></i>Digital Employee </a></li>
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">{{empdetails.name}}'s Report</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">

                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <style>
                        .col-sp{
                            width:20%;
                            padding:10px;
                        }
                    </style>
                    <div class="row">

                        <div class="col-xl-12">
                            <div class="row" style="background: linear-gradient(to right, rgb(68, 68, 154), rgb(221, 142, 228));">
                                 
                                <div class="col-sp">
                                    <a href="/digital-employee-report/{{ephone}}/avialable-fresh">
                                        <div class="card mini-stats-wid">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <p class="text-muted fw-medium text-center">Available Fresh</p>
                                                        <h4 class="mb-0 text-center">{{available_fresh}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sp">
                                    <a href="/digital-employee-report/{{ephone}}/total-fresh">
                                        <div class="card mini-stats-wid">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <p class="text-muted fw-medium text-center">Total Fresh</p>
                                                        <h4 class="mb-0 text-center">{{total_fresh}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sp">
                                    <a href="/digital-employee-report/{{ephone}}/all">
                                        <div class="card mini-stats-wid">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <p class="text-muted fw-medium text-center">Total Client</p>
                                                        <h4 class="mb-0 text-center">{{total_client}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sp">
                                    <a href="/digital-employee-report/{{ephone}}/pending">
                                        <div class="card mini-stats-wid">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <p class="text-muted fw-medium text-center">Pending</p>
                                                        <h4 class="mb-0 text-center">{{client_pending}}</h4>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-sp">
                                    <a href="/digital-employee-report/{{ephone}}/cnp">
                                        <div class="card mini-stats-wid">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <p class="text-muted fw-medium text-center">Call Not Picked</p>
                                                        <h4 class="mb-0 text-center">{{client_cancelled}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-sp">
                                    <a href="/digital-employee-report/{{ephone}}/followup">
                                        <div class="card mini-stats-wid">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <p class="text-muted fw-medium text-center">Follow-up</p>
                                                        <h4 class="mb-0 text-center">{{client_followup}}</h4>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sp">
                                    <a href="/digital-employee-report/{{ephone}}/not-interested">
                                        <div class="card mini-stats-wid">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <p class="text-muted fw-medium text-center">Not Interested</p>
                                                        <h4 class="mb-0 text-center">{{client_ni}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sp">
                                    <a href="/digital-employee-report/{{ephone}}/not-in-industry">
                                        <div class="card mini-stats-wid">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <p class="text-muted fw-medium text-center">Not In Industry</p>
                                                        <h4 class="mb-0 text-center">{{client_nii}}</h4>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="col-sp">
                                    <a href="/digital-employee-report/{{ephone}}/completed">
                                        <div class="card mini-stats-wid">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <p class="text-muted fw-medium text-center">Completed</p>
                                                        <h4 class="mb-0 text-center">{{client_completed}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                    <div class="col-sp">
                                    <a href="/digital-employee-report/{{ephone}}/completed">
                                        <div class="card mini-stats-wid">
                                            <div class="card-body">
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <p class="text-muted fw-medium text-center">Conversion Rate</p>
                                                        <h4 class="mb-0 text-center">{{cr}} %</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                
                                
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                    <!-- end row -->

                    {%block body%}


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    
                                    <h4 class="card-title mb-4 text-center">CLIENT
                                    <span>
                                        <!-- Trigger Button -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clientFormModal">
                                    <i class="fa fa-download" aria-hidden="true"></i>

                                </button>

                                <!-- Modal Structure -->
                                <div class="modal fade" id="clientFormModal" tabindex="-1" aria-labelledby="clientFormModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="clientFormModalLabel">Select Option</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" action="/admin-download-employee-report/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="employee" value="{{ empdetails.phone }}">
                                                    <div class="mb-3" style="text-align:left">
                                                        <label>Select Categories:</label><br>
                                                        <input type="checkbox" name="category" value="all"> All<br><br>
                                                        <input type="checkbox" name="category" value="pending"> Pending<br><br>
                                                        <input type="checkbox" name="category" value="followup"> Follow Up<br><br>
                                                        <input type="checkbox" name="category" value="cnp"> Call Not Picked<br><br>
                                                        <input type="checkbox" name="category" value="completed"> Completed<br><br>
                                                        <input type="checkbox" name="category" value="not_interested"> Not Interested<br><br>
                                                        <input type="checkbox" name="category" value="not_in_industry"> Not in Industry<br><br>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Download Data</button>
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               </span></h4>
                                    <!-- Assign Button -->
                                    <div id="assignButton" style="display:none; margin-top: 15px;margin-bottom:10px">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="showEmployeeModal()">Assign to Employee</button>
                                    </div>
                                    {% if page_posts %}
                                    <form id="assignForm" method="POST" action="/assign-employees/">
                                        {% csrf_token %}
                                        <div class="table-responsive">
                                            <table class="table align-middle table-nowrap mb-0" id="productTable">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="align-middle">
                                                            <input type="checkbox" id="selectAll" name="selectAll" onchange="toggleAll()">
                                                        </th>
                                                        <th class="align-middle">Employee Name</th>
                                                        <th class="align-middle">Type</th>
                                                        <th class="align-middle">Phone</th>
                                                        <th class="align-middle">Name</th>
                                                        <th class="align-middle">Email</th>
                                                        <th class="align-middle">Address</th>
                                                        <th class="align-middle">Status</th>
                                                        <th class="align-middle">View</th>
                                                        <th class="align-middle">Edit</th>
                                                        <th class="align-middle">Delete</th>
                                                        <th class="align-middle">Created On</th>
                                                        <th class="align-middle">Updated On</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in page_posts %}
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" name="selected_clients" value="{{ item.id }}" onchange="toggleButtons()">
                                                        </td>
                                                        {%for e in employee%}
                                                        {%if e.phone == item.username%}
                                                        <td>{{ e.name }}</td>
                                                        {%endif%}
                                                        {%endfor%}
                                                        <td>{{ item.clinet_type }}</td>
                                                        <td>{{ item.client_phone }}</td>
                                                        <td>{{ item.client_name }}</td>
                                                        <td>{{ item.client_email }}</td>
                                                        <td>{{ item.client_address }}</td>
                                                        <td>{{ item.client_status }}</td>
                                                        <td><a href="/admin-update-client/{{ item.id }}" target="_blank"><i class="fa fa-eye"></i></a></td>
                                                        <td><a href="/admin-update-client/{{ item.id }}"><i class="fa fa-edit"></i></a></td>
                                                        <td><a href="#" onclick="confirmDelete('{{ item.id }}', {{ page_posts.number }})"><i class="fa fa-trash text-danger"></i></a></td>
                                                        <td>{{ item.created_on|slice:"19" }}</td>
                                                        <td>{{ item.updated_on|slice:"19" }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <script>
                                                        function confirmDelete(itemId, page) {
                                                            if (confirm("Are you sure you want to delete this item?")) {
                                                                window.location.href = "/admin-delete-client/" + itemId + "/" + page;
                                                            } else {
                                                                return false;
                                                            }
                                                        }
                                                    </script>
                                                </tbody>
                                            </table>
                                        </div>
                        
                                        
                        
                                        <!-- Employee Selection Modal (Bootstrap) -->
                                        <div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="employeeModalLabel">Select Employee</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="employee">Select Employee</label>
                                                            <select name="selected_employee" id="employee" class="form-control" required>
                                                                <option value="">-- Select Employee --</option>
                                                                {% for emps in employee %}
                                                                <option value="{{ emps.phone }}">{{ emps.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Assign</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                        
                                    <script>
                                        function toggleAll() {
                                            var selectAll = document.getElementById("selectAll");
                                            var checkboxes = document.querySelectorAll('input[name="selected_clients"]');
                                            checkboxes.forEach((checkbox) => {
                                                checkbox.checked = selectAll.checked;
                                            });
                                            toggleButtons();
                                        }
                        
                                        function toggleButtons() {
                                            var checkboxes = document.querySelectorAll('input[name="selected_clients"]:checked');
                                            var assignButton = document.getElementById("assignButton");
                                            if (checkboxes.length > 0) {
                                                assignButton.style.display = "block";
                                            } else {
                                                assignButton.style.display = "none";
                                            }
                                        }
                        
                                        function showEmployeeModal() {
                                            var selectedClients = document.querySelectorAll('input[name="selected_clients"]:checked');
                                            if (selectedClients.length > 0) {
                                                var modal = new bootstrap.Modal(document.getElementById('employeeModal'));
                                                modal.show();
                                            }
                                        }
                                    </script>
                        
                                    {% else %}
                                    <div class="text-center border p-4">
                                        <img loading="lazy" src="{% static 'admin-assets/images/not-found.png' %}" alt="Image"><br>
                                        <h3>Sorry, no results found!</h3>
                                        <p>Please check the spelling or try searching for something else</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        {%if page_posts%}
                        <div class="blog-pagination">
                            <nav>
                                <ul class="pagination">
                                    <li
                                        class="page-item previtem {% if not page_posts.has_previous %}disabled{% endif %}">
                                        <a class="page-link"
                                            href="{% if page_posts.has_previous %}?page={{ page_posts.previous_page_number }}&name={{ search_query }}{% endif %}">
                                            <i class="fas fa-regular fa-arrow-left"></i> Prev
                                        </a>
                                    </li>
                                    <li class="justify-content-center pagination-center">
                                        <div class="pagelink">
                                            <ul class="d-flex">
                                                {% for page_num in page_range %}
                                                <li
                                                    class="page-item {% if page_posts.number == page_num %}active{% endif %}">
                                                    <a class="page-link"
                                                        href="?page={{ page_num }}&name={{ search_query }}">
                                                        {{ page_num }}
                                                        {% if page_posts.number == page_num %}
                                                        <span class="visually-hidden">(current)</span>
                                                        {% endif %}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="page-item nextlink {% if not page_posts.has_next %}disabled{% endif %}">
                                        <a class="page-link"
                                            href="{% if page_posts.has_next %}?page={{ page_posts.next_page_number }}&name={{ search_query }}{% endif %}">
                                            Next <i class="fas fa-regular fa-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        {%endif%}
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const searchInput = document.getElementById('searchInput');
                                const tableRows = document.querySelectorAll('#productTable tbody tr');

                                searchInput.addEventListener('input', function () {
                                    const searchTerm = searchInput.value.trim().toLowerCase();

                                    tableRows.forEach(row => {
                                        const nameColumn = row.querySelector('td:nth-child(2)');
                                        if (nameColumn) {
                                            const textContent = nameColumn.textContent.trim().toLowerCase();
                                            if (textContent.includes(searchTerm)) {
                                                row.style.display = '';
                                            } else {
                                                row.style.display = 'none';
                                            }
                                        }
                                    });
                                });
                            });
                        </script>

                    </div>

                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
        </div>
        <!-- container-fluid -->
    </div>

    <!-- End Page-content -->

    
    {%endblock%}

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Romegamart.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by <a href="https://www.plumint.com" target="_blank" title="best b2c plateform"></a><span>Romegamart</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">

                <h5 class="m-0 me-2">Settings</h5>

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->
            <hr class="mt-0">
            <h6 class="text-center mb-0">Choose Layouts</h6>

            <div class="p-4">
                <div class="mb-2">
                    <img src="{%static 'admin-assets/images/layouts/layout-1.jpg'%}" class="img-thumbnail"
                        alt="layout images">
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                    <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                </div>

                <div class="mb-2">
                    <img src="{%static 'admin-assets/images/layouts/layout-2.jpg'%}" class="img-thumbnail"
                        alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch">
                    <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                </div>

                <div class="mb-2">
                    <img src="{%static 'admin-assets/images/layouts/layout-3.jpg'%}" class="img-thumbnail"
                        alt="layout images">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="rtl-mode-switch">
                    <label class="form-check-label" for="rtl-mode-switch">RTL Mode</label>
                </div>

                <div class="mb-2">
                    <img src="{%static 'admin-assets/images/layouts/layout-4.jpg'%}" class="img-thumbnail"
                        alt="layout images">
                </div>
                <div class="form-check form-switch mb-5">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-rtl-mode-switch">
                    <label class="form-check-label" for="dark-rtl-mode-switch">Dark RTL Mode</label>
                </div>


            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="{%static 'admin-assets/libs/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'admin-assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'admin-assets/libs/metismenu/metisMenu.min.js'%}"></script>
    <script src="{%static 'admin-assets/libs/simplebar/simplebar.min.js'%}"></script>
    <script src="{%static 'admin-assets/libs/node-waves/waves.min.js'%}"></script>

    <!-- apexcharts -->
    <script src="{%static 'admin-assets/libs/apexcharts/apexcharts.min.js'%}"></script>

    <!-- dashboard init -->
    <script src="{%static 'admin-assets/js/pages/dashboard.init.js'%}"></script>

    <!-- App js -->
    <script src="{%static 'admin-assets/js/app.js'%}"></script>

</body>

</html>